.container-fluid{
    margin-left:5%;
    height: 90%;
    margin-top:3%;
}
#addbtn{
    margin-left:30%;
    border:1px solid green;
    border-radius:3px;

}
input{
    width:150%;
}
textarea{
    width:150%; 

}