<div class="container-fluid">
    <div class="row">
        <form #goalForm='ngForm'>
            <div class="form-group">

    
        <label for="title">Quator Title:</label>
        <input type="text" required class="form-control" id="title">
        </div>

        <div class="form-group">
          <label for="author">Author Name</label>
          <input type="text" required class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="complete">Date</label>
            <input type='date' id="complete" required>
            
        </div>

          <div class="form-group">

              <label for="description">Quator</label>
              <textarea class="form-control" id="description" rows="4" required></textarea>
              
          </div>
          <button type="submit" class="btn btn-primary btn-lg" id="addbtn">Add quote</button>
</form>
  </div>
</div>
