<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
              <label for="title">Quate Title:</label>
              <input type="text"  class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title="ngModel" required>
              <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                  <p> Title is Required</p>
              </div>
           </div>


            <div class="form-group">
               <label for="author">Author Name</label>
              <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
              <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                  <p> Author name is Required</p>
              </div>
           </div>


           <div class="form-group">
               <label for="complete">Date</label>
               <input type="date"  class="form-control" id="completeDate" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
              <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                  <p> Date is Required</p>
              </div>
          </div>

          
          
            <div class="form-group">
               <label for="description">Quator</label>
               <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.quotess" name="quotess" #quotess="ngModel" required></textarea>
              <div [hidden]="quotess.valid || quotess.pristine" class="alert alert-danger">
                <p>quotes is Required</p>
              </div>
           </div>
          <button type="submit" class="btn btn-primary btn-lg" id="addbtn">Add quote</button>
       </form>
  </div>
</div>
